<div>
    <div>AÑADIR PRODUCTOS</div>
    <form id="addProductForm">
        <input id="add_input" type="text" name="title" placeholder="ingrese el nombre del producto a añadir">
        <button type="submit">AÑADIR</button>
    </form>


    <div>ELIMINAR PRODUCTOS</div>
    <form id="deleteProductForm">
        <input id="delete_input" type="text" name="title" placeholder="ingrese el nombre del producto a eliminar">
        <button type="submit">ELIMINAR</button>
    </form>

    <div>LISTA DE PRODUCTOS</div>
    <div id="productList">
        {{#each productData}}
        <div>{{this.title}}</div>
        {{/each}}
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>